@tailwind base;

@tailwind components;

@tailwind utilities;

h3 {
  font-size: 2rem;
  color: #f5ac72;
  font-weight: bold;
  border-bottom: 1px solid #f5ac72;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.5rem;
  color: #f5ac72;
  font-weight: bold;
}

p {
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 1.1rem;
  color: #373d3f;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #f5ac72;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.special-list {
  background: #f9f9f9;
  margin: 1.5em 1.5em;
  border: 3px solid #f5ac72;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  align-items: center;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f5ac72;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

@keyframes text-bounce {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-text {
  animation-name: text-bounce;
  animation-duration: 2s;
}

.transition-header {
  transition: width 2s;
}
