@tailwind base;

@tailwind components;

@tailwind utilities;

h3 {
  font-size: 2rem;
  color: #f5ac72;
  font-weight: bold;
  border-bottom: 1px solid #f5ac72;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.5rem;
  color: #f5ac72;
  font-weight: bold;
}

p {
  margin-bottom: 30px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #f5ac72;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
