@tailwind base;

@tailwind components;

@tailwind utilities;

h3 {
  font-size: 2rem;
  color: #f5ac72;
  font-weight: bold;
  border-bottom: 1px solid #f5ac72;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.1rem;
  color: #f5ac72;
  font-weight: bold;
}

p {
  margin-bottom: 30px;
}
