.cool-gradient {
  background: #ff7e5f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #feb47b,
    #ff7e5f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #feb47b,
    #ff7e5f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bounce-animation {
  animation-duration: 1s;
  -webkit-animation-name: bounce; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: bounce;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@-webkit-keyframes bounce {
  from {
    left: 0;
  }
  to {
    left: 5px;
  }
}

@keyframes bounce {
  from {
    left: 0;
  }
  to {
    left: 5px;
  }
}

.custom-shadow {
  box-shadow: 0px 3px 40px 1px #7fdbff;
}